cluster_name: name
agent_nodes:
 - {public: 1.2.3.4, private: 10.2.3.4}
 - {public: 1.2.3.5, private: 10.2.3.5}
control_node: dns.name.for.control.node # or IP address (but you must always connect via TLS to the given name here)
users:
 - user1
os: XXX # ubuntu or centos
private_key_path: XXX # the key used to SSH as root onto the nodes
agent_config:
  version: 1
  control-service:
    hostname: XXX # control_node should get substituted in here
    port: 4524
  dataset:
    backend: "openstack"
    region: "LON"
    auth_plugin: "rackspace"
    username: "joe.bloggs.rackspace"
    api_key: "aaa-bbb-ccc-ddd"
    auth_url: "https://lon.identity.api.rackspacecloud.com/v2.0"
