PyYAML==3.11
Twisted==15.2.1
argparse==1.2.1
cffi==1.1.2
characteristic==14.3.0
cryptography==0.9.1
enum34==1.0.4
idna==2.0
ipaddress==1.0.7
pyOpenSSL==0.15.1
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.14
requests==2.7.0
service-identity==14.0.0
six==1.9.0
treq==15.0.0
wsgiref==0.1.2
zope.interface==4.1.2
